buffrem:
- 0
- 40
jobtype: INT
jobname: 아크메이지썬/콜
vEnhanceNum: 13
preEmptiveSkills: 2
passive_skill_list:
- name: 하이 위즈덤
  stat_main: 40
- name: 스펠 마스터리
  att: 10
- name: 매직 크리티컬
  crit: 30
  crit_damage: 13
- name: 엘리멘트 엠플리피케이션
  pdamage: 50
- name: 엘리멘탈 리셋
  pdamage_indep: 50
- name: 마스터 매직
  att: 30 + 3 * passive_level
  buff_rem: 50 + 5 * passive_level
- name: 아케인 에임
  armor_ignore: 20 + math.ceil(passive_level / 2)
not_implied_skill_list:
- name: 무기상수
  pdamage_indep: 20
- name: 숙련도
  mastery: 95 + math.ceil(combat / 2)
- name: 익스트림 매직
  pdamage_indep: 20
- name: 아케인 (실시간)
  pdamage: 40
- name: 엘리멘탈 리셋(사용)
  prop_ignore: 10
constant:
  ICE_AGE_SUMMON_HIT: 2
  THUNDER_BREAK_HIT: 2
skills:
  메디테이션:
    cooltime: 0
    delay: 0
    rem: true
    remain: 240000
    type: BuffSkill
    att: 30
  에픽 어드벤처:
    cooltime: 120000
    delay: 0
    remain: 60000
    type: BuffSkill
    pdamage: 10
  체인 라이트닝:
    cooltime: 0
    delay: 600
    modifier:
      crit: 25 + math.ceil(combat / 2)
      pdamage: 20
    damage: 185 + 3 * combat
    hit: 11
    type: DamageSkill
    enhanced_by_v: true
    upgrade_priority: 0
    v_increment: 2
    v_crit: false
  프로즌 오브:
    cooltime: 5000
    delay: 210
    modifier:
      pdamage: 20
    damage: 220 + 4 * combat
    hit: 1
    remain: 4000
    summondelay: 690
    type: SummonSkill
    enhanced_by_v: true
    upgrade_priority: 3
    v_increment: 2
    v_crit: false
  라이트닝 스피어:
    cooltime: 60000
    delay: 0
    damage: 0
    hit: 1
    type: DamageSkill
  라이트닝 스피어(키다운):
    cooltime: 0
    delay: 257
    damage: 150
    hit: 15
    type: DamageSkill
    enhanced_by_v: true
    upgrade_priority: 1
    v_increment: 2
    v_crit: true
  라이트닝 스피어(막타):
    cooltime: 0
    delay: 1080
    damage: 780
    hit: 15
    type: DamageSkill
    enhanced_by_v: true
    upgrade_priority: 1
    v_increment: 2
    v_crit: true
  아이스 에이지(개시):
    cooltime: 60000
    delay: 660
    red: true
    damage: 500 + lv * 20
    hit: 10
    type: DamageSkill
    tier: 5
    use_priority: 2
    upgrade_priority: 3
  아이스 에이지(장판):
    cooltime: -1
    delay: 810
    damage: 125 + 5 * lv
    hit: 3 * ICE_AGE_SUMMON_HIT
    remain: 15000
    summondelay: 0
    type: SummonSkill
    tier: 5
    use_priority: 2
    upgrade_priority: 3
  썬더 브레이크 개시스킬:
    cooltime: 40000
    delay: 120
    red: true
    damage: 0
    hit: 1
    type: DamageSkill
    tier: 5
    use_priority: 0
    upgrade_priority: 0
  썬더 브레이크(1):
    cooltime: 0
    delay: 120
    damage: "(800 + lv * 32)"
    hit: 15
    type: DamageSkill
    tier: 5
    use_priority: 0
    upgrade_priority: 0
  썬더 브레이크(2):
    cooltime: 0
    delay: 120
    damage: "(800 + lv * 32) * 0.8"
    hit: 15
    type: DamageSkill
    tier: 5
    use_priority: 0
    upgrade_priority: 0
  썬더 브레이크(3):
    cooltime: 0
    delay: 120
    damage: "(800 + lv * 32) * 0.8 ** 2"
    hit: 15
    type: DamageSkill
    tier: 5
    use_priority: 0
    upgrade_priority: 0
  썬더 브레이크(4):
    cooltime: 0
    delay: 120
    damage: "(800 + lv * 32) * 0.8 ** 3"
    hit: 15
    type: DamageSkill
    tier: 5
    use_priority: 0
    upgrade_priority: 0
  썬더 브레이크(5):
    cooltime: 0
    delay: 120
    damage: "(800 + lv * 32) * 0.8 ** 4"
    hit: 15
    type: DamageSkill
    tier: 5
    use_priority: 0
    upgrade_priority: 0
  썬더 브레이크(6):
    cooltime: 0
    delay: 120
    damage: "(800 + lv * 32) * 0.8 ** 5"
    hit: 15
    type: DamageSkill
    tier: 5
    use_priority: 0
    upgrade_priority: 0
  썬더 브레이크(7):
    cooltime: 0
    delay: 120
    damage: "(800 + lv * 32) * 0.8 ** 6"
    hit: 15
    type: DamageSkill
    tier: 5
    use_priority: 0
    upgrade_priority: 0
  썬더 브레이크(8):
    cooltime: 0
    delay: 120
    damage: "(800 + lv * 32) * 0.8 ** 7"
    hit: 15
    type: DamageSkill
    tier: 5
    use_priority: 0
    upgrade_priority: 0
  스피릿 오브 스노우:
    cooltime: 120000
    delay: 3000
    red: true
    damage: 850+34*lv
    hit: 9
    remain: 30000
    summondelay: 720
    type: SummonSkill
    tier: 5
    use_priority: 3
    upgrade_priority: 1
  썬더 스톰:
    cooltime: 30000
    delay: 1770
    damage: 430
    hit: 1
    remain: 90000
    rem: true
    summondelay: 900
    type: SummonSkill
    enhanced_by_v: true
    upgrade_priority: 5
    v_increment: 3
    v_crit: false
  엘퀴네스:
    cooltime: 0
    delay: 3030
    damage: 127 + 2 * combat
    hit: 3
    remain: "(260 + 5 * combat) * 1000"
    rem: true
    summondelay: 600
    type: SummonSkill
    enhanced_by_v: true
    upgrade_priority: 4
    v_increment: 2
    v_crit: false
  아이스 오라:
    cooltime: 0
    delay: 1200
    damage: 0
    hit: 1
    remain: 999999999
    summondelay: 0
    type: SummonSkill
  주피터 썬더:
    cooltime: 120000
    delay: 330
    red: true
    damage: 300 + 12 * lv
    hit: 8
    remain: 330 * 30 - 1
    summondelay: 630
    type: SummonSkill
    tier: 5
    use_priority: 0
    upgrade_priority: 0
  블리자드:
    cooltime: 45000
    delay: 690
    red: true
    damage: 301 + 3 * combat
    hit: 12
    type: DamageSkill
    enhanced_by_v: true
    upgrade_priority: 2
    v_increment: 2
    v_crit: true
  블리자드 패시브:
    cooltime: 0
    delay: 0
    damage: "(220 + 4 * combat) * (0.6 + 0.01 * combat)"
    hit: 1
    type: DamageSkill
    enhanced_by_v: true
    upgrade_priority: 2
    v_increment: 2
    v_crit: true
  에너지 볼트:
    cooltime: 0
    delay: 630
    damage: 309
    hit: 1
    type: DamageSkill
  콜드 빔:
    cooltime: 0
    delay: 630
    damage: 199
    hit: 3
    type: DamageSkill
  썬더 볼트:
    cooltime: 0
    delay: 630
    damage: 210
    hit: 3
    type: DamageSkill
  아이스 스트라이크:
    cooltime: 0
    delay: 630
    damage: 335
    hit: 4
    type: DamageSkill
  글레이셜 체인:
    cooltime: 0
    delay: 630
    damage: 383
    hit: 3
    type: DamageSkill
